<!DOCTYPE HTML>
<html>
    <head>
        <meta charset = "UTF-8">
        <title>Instagram Clone</title>
    <head>
    <body>
        <div>
            <form method="POST">
            
                <div>
                    <label for="username">Username:</label>
                    <input id= "username" type="text" name="username" value={{username}}>
                </div>
                
                <div>
                    <label for="password">Password:</label>
                    <input id="password" type="password" name="password" value={{password}}>
                </div>
                
                <input type="submit" value="Log In">
        </div>
    </body>
</html>