<!DOCTYPE HTML>
<html>
    <head>
        <title>Home Page</title>
    </head>
    
    <body>
        <h1>Olympic Data Fetcher</h1>
        
        <form action="{{url_for('medal_tally')}}" method="GET">
            <div>
                <select name = "Season">
                    <option value="Summer">Summer</option>
                    <option value="Winter">Winter</option>
                </select>
            
            <div>
                <select name="year">
                    {% for val in year %}
                        <option value="{{val}}">{{val}}</option>
                    {% endfor %}
                </select>
            </div>
            
            <div>
                <input type="submit" value="submit">
            </div>
        </form>
    </body>
</html>
                
                
